# SPDX-License-Identifier: PMPL-1.0-or-later
name: Mirror

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions: read-all

jobs:
  mirror-gitlab:
    name: Mirror to GitLab
    runs-on: ubuntu-latest
    if: vars.GITLAB_MIRROR_ENABLED == 'true'
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - uses: webfactory/ssh-agent@dc588b651fe13675774614f8e6a936a468676387 # v0.9.0
        with:
          ssh-private-key: ${{ secrets.GITLAB_SSH_KEY }}

      - name: Mirror to GitLab
        run: |
          git remote add gitlab git@gitlab.com:${{ github.repository }}.git || true
          git push gitlab --mirror --force

  mirror-bitbucket:
    name: Mirror to Bitbucket
    runs-on: ubuntu-latest
    if: vars.BITBUCKET_MIRROR_ENABLED == 'true'
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - uses: webfactory/ssh-agent@dc588b651fe13675774614f8e6a936a468676387 # v0.9.0
        with:
          ssh-private-key: ${{ secrets.BITBUCKET_SSH_KEY }}

      - name: Mirror to Bitbucket
        run: |
          git remote add bitbucket git@bitbucket.org:${{ github.repository }}.git || true
          git push bitbucket --mirror --force
